@import url('reset.css');
@import url('modules.css');
@import url('layouts.css'); 
@import url('state.css');

html { 
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  display: block;
  height: 100%;
  color: white;
  overflow-x: hidden;
  background-color: #c0c2c4;
}

h2 {
  font-size: 3em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

header {
  width: 100%;
}

img {
  border-style: none;
}

hr.style-two,
hr.style-three {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-color: white;
    margin: 0px;
}