/* Header and Navbar Styles */
.landing-container {
  background: url("../images/wood.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.inner {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  padding: 5px;
  background-color: black;
  background-color: transparent;
  
}

.navbar ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: inline-block;
  margin: 0 1.2em;
  transition: 0.4s;
  font-size: 1em;
  color: white;
}

.nav-links {
  color: white;
  transition: .1s;
}

.nav-links:hover {
  color: #04acaf;
}

.sticky {
  position: fixed;
  background-color: #262626;
  border-bottom: 3px solid #04acaf;
  z-index: 200;
  top: 0;
  width: 100%;
  transition: 1s ease-in;
}

.sticky + .content {
  padding-top: 60px;
}


#top-name {
  display: inline-block;
  margin-left: 1.2em;
  margin-right: 1.2em;
  font-size: 1.2em;
  transition: .4s ;
}

#full-name {
  color: white;
}

/* Home Main Page */
.container {
    height: 75vh;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.name {
    color: #04acaf;
}

.description p {
    color: white; 
    font-size: 1.5em;
    margin: 3px;
}

.button {
    color: white;
    border: 2px solid white;
    font-size: 1.2em;
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    transition: 1s;
}

.button:hover {
    cursor: pointer
}

/* Down Arrow */

.center-con {
    display: flex;
    position: relative;
    top: 160px;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 70px;
    height: 70px;
    transition: 0.3s ease-in-out;
}

.round:hover {
    cursor: pointer;
    background-color: #04acaf;
    border: 3px solid #04acaf;
}

.dropdown {
    z-index: 100;
    height: 3px;
    margin:1px;
    width: 21px;
    background: #fff;
    transition: 0.4s ease;
}

.dropdown:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.dropdown:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.dropdown:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.dropdown:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .dropdown:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover .dropdown:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover .dropdown:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}

/* Portfolio Page Styles */

.portfolio-container,
.profile-container,
.contact-container {
    background-color: #c0c2c4;
    color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 15px;
}

.portfolio-title {
    text-align: center;
    background-color: #c0c2c4;
    padding-top: 55px;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 2.5em;
    font-style: italic;
    letter-spacing: 1px;
    color: #030a19;
}

.project-container,
.about-container {
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    margin: 50px;
    margin-top: 15px;
    border-top-left-radius: 2px;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.hide {
    display: none;
}

.project-image {
    width: 100%;
    height: 100%;
    max-height: 150px;
    margin: 0 auto;
    color: rgb(28, 34, 42);
    padding-bottom: 10px;
}

.project-overlay {
    background-color: rgba(55, 68, 83, 0.9);
    position: absolute;
    border-radius: 2px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0%; 
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ;
}

.project-container:hover .project-overlay {
    height: 100%;
}

.project-overlay p {
    padding: 3px;
}

.code-source,
.view-demo {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 8px;
    /* background-color: #abcae2e6; */
    border-radius: 5px;
    width: 80%;
    margin: 10px;
    margin-top: 0px;
    transition: .2s ease-in-out; 
    border: 1px solid #04acaf;
}


.code-source a,
.view-demo a {
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
}

.slide {
    border: 1px solid #fff;
}

.slide a,
.slide a {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
}


.code-source:active,
.view-demo:active{
    background-color: #04acaf;
    border: 1px solid #04acaf;
}
 
.overlay-buttons {
    font-weight: bold;
    transition: .2s ease-in-out;
    padding: 8px;
}

.overlay-buttons:hover {
    color: #04acaf;
}

.source-image,
.demo-image {
    position: absolute;
    top: 7px;
    left: 6px;
    margin-top: 8px;
    width: 25px;
    height: 25px;
}