@media (min-width: 768px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .project-container:hover .project-overlay {
    height: 100%;
  }

  .skills-title {
    text-align: center;
  }

  .code-source:hover,
  .view-demo:hover {
    background-color: #04acaf;
    border: 1px solid #04acaf;
  }

  .overlay-buttons:hover {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .project-container {
    height: 275px;
  }

  .image-container {
    height: 100%;
  }

  .project-image {
    max-height: 450px;
    padding: 0;
  }

  .style-two {
    display: none;
  }

  .mobile-overlay {
    display: none;
  }

  .project-overlay {
    display: flex;
  }

  .contact-container {
    height: 90vh;
  }

  .intro-container {
    text-align: center;
  }

  .overlay-buttons:hover {
    color: #fff;
  }
}
